<html>
  <head>
  </head>
  <body>
    <div class="page-title">
      <h1>Backbone.js Class</h1>
    </div>

    <div class="target">
      <script id="name-tpl" type="text/template">
        <span>Name:
        <% _.each(names, function(name){ %> 
          <%= name %>, 
        <% }); %>
        </span>
      </script>
    </div>


    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
    <script src="main.js"></script>
  </body>
</html>