.contact-wrapper {
  padding: 20px;
  border: 3px black solid;
  width: 250px;
  margin: 20px;
  float: left;
}
p {
  font-family: helvetica;
  font-size: 16px;
}
.destroy {
  width: 100px;
  height: 40px;
  background: darkgreen;
  color: white;
  font-family: helvetica;
  font-size: 16px;
  border:none;
}
.destroyAll {
  width: 100px;
  height: 40px;
  background: darkred;
  color: white;
  font-family: helvetica;
  font-size: 16px;
  border:none;
}
h3 {
  font-family: helvetica;
  font-size: 18px;
  text-align: center;
}
.coffee-img {
  width: 200px;
  display: block;
  margin:15px auto;
}
.clear {
  clear:both;
}
form {
  width: 300px;
  margin-top: 50px;
  margin-left: 20px;
  border: 3px solid #3d3d3d;
  padding: 10px;
}
input {
  display:block;
  width:300px;
  line-height:30px;
  margin-bottom: 15px;
}
input[type="submit"] {
  height:35px;
  width:125px;
  background: darkblue;
  color:white;
}